<template>
<article class="media">
  <div class="media-content">
    <p class="has-text-weight-semibold"
       v-if="!isUpdateConfirmed">
      <a :href="url">
        {{ editableTitle }}
      </a>
    </p>
    <p class="has-text-weight-light">
      <a :href="url" class="has-text-weight-light">
        {{ url }}
      </a>
    </p>
    <div @click="toggleUpdateConfirmed"
         v-if="!isUpdateConfirmed">
      {{ editableDescription }}
    </div>
    <div class="tags">
      <span class="tag is-info"
            v-if="!isUpdateConfirmed"
            v-for="tagName in arrTag"
            @click="searchTag(tagName)">
        {{ tagName }}
      </span>
    </div>
    <time class="is-size-7"
          @click="toggleUpdateConfirmed">
      {{ date }}
    </time>
    <div class="field"
         v-if="isUpdateConfirmed">
      <div class="control">
        <input class="input"
               type="text"
               placeholder="Title"
               v-model="editableTitle">
      </div>
    </div>
    <div class="field"
         v-if="isUpdateConfirmed">
      <div class="control">
        <textarea class="textarea"
                  placeholder="Description"
                  v-model="editableDescription">
        </textarea>
      </div>
    </div>
    <div class="field"
         v-if="isUpdateConfirmed">
      <div class="control">
        <input class="input"
               type="text"
               placeholder="Tag"
               v-model="editableTag">
      </div>
    </div>
    <div class="field is-grouped is-grouped-right"
         v-if="isDeleteConfirmed">
      <p class="control">
        <button class="button is-warning"
                @click="deleteBookmark(id)">
          Delete bookmark
        </button>
      </p>
      <p class="control">
        <button class="button"
                @click="toggleDeleteConfirmed">
          Cancel
        </button>
      </p>
    </div>
    <div class="field is-grouped is-grouped-left"
         v-if="isUpdateConfirmed">
      <p class="control">
        <button class="button is-success"
                @click="updateBookmark(id)">
          Update bookmark
        </button>
      </p>
      <p class="control">
        <button class="button"
                @click="toggleUpdateConfirmed">
          Cancel
        </button>
      </p>
    </div>
    <div class="message is-danger"
         v-if="warningMessage.length">
      <div class="message-body">{{ warningMessage }}</div>
    </div>
    <div class="message is-success"
         v-if="successMessage.length">
      <div class="message-body">{{ successMessage }}</div>
    </div>
  </div>
  <div class="media-right">
    <button class="delete"
            @click="toggleDeleteConfirmed">
    </button>
  </div>
</article>
</template>

<script>
import axios from 'axios'

export default {
    props: [
        'id',
        'title',
        'url',
        'description',
        'tag',
        'date'
    ],
    data: function() {
        return {
            isDeleteConfirmed: false,
            isUpdateConfirmed: false,
            warningMessage: '',
            successMessage: '',
            editableTitle: this.title,
            editableDescription: this.description,
            editableTag: this.tag
        }
    },
    computed: {
        arrTag: function() {
            if (this.editableTag.length) {
                return this.editableTag.split(" ")
            } else {
                return ''
            }
        }
    },
    methods: {
        deleteBookmark: function(bookmarkId) {
            self = this
            axios.delete('./api/bookmark_id/' + bookmarkId,
                { headers:
                    { 'x-access-token': self.$store.state.token } 
                }
            ).then(function(response) {
                self.$store.dispatch('destroyBookmark', bookmarkId)
            }).catch(function(e) {
                self.warningMessage = 'Error has occurred'
            })
        },
        updateBookmark: function(bookmarkId) {
            if (this.title == this.editableTitle
                && this.description == this.editableDescription
                && this.tag == this.editableTag) {
                this.warningMessage = 'not changed'
                this.successMessage = ''
                return
            }
            
            self = this
            this.editableTag
                = this.editableTag.trim().replace(/ +/g, ' ')
            const beforeTag = this.tag.split(' ')
            const afterTag = this.editableTag.split(' ')
            const deleteTag = beforeTag.filter((b) => {
                return afterTag.indexOf(b) == -1
            })
            const addTag = afterTag.filter((a) => {
                return beforeTag.indexOf(a) == -1
            })
            
            if (deleteTag.length) {
                axios.delete('./api/tag/' + bookmarkId, {
                    data: {
                        tags: deleteTag
                    },
                    headers: {
                        'x-access-token': self.$store.state.token
                    }
                })
            }
            
            if (addTag.length) {
                axios.put('./api/tag/' + bookmarkId, {
                    tags: addTag
                }, {
                    headers: {
                        'x-access-token': self.$store.state.token
                    }
                })
            }            
            
            if (!(this.title == this.editableTitle
                  && this.description == this.editableDescription
                  && this.tag == this.editableTag)) {
                axios.put('./api/bookmark_id/' + bookmarkId, {
                    title: self.editableTitle,
                    description: self.editableDescription,
                    tag: self.editableTag
                    },
                    { headers:
                        { 'x-access-token': self.$store.state.token }
                    }
                ).then(function(response) {
                    self.title = self.editableTitle
                    self.description = self.editableDescription
                    self.tag = self.editableTag
                    self.successMessage = 'Successfully updated'
                    self.warningMessage = ''
                    self.toggleUpdateConfirmed()
                    self.$store.dispatch('changedTag')
                }).catch(function(e) {
                    self.warningMessage = 'Error has occurred'
                    self.successMessage = ''
                })
            }
        },
        searchTag: function(tagName) {
            this.$store.dispatch('searchTag', tagName)
        },
        toggleDeleteConfirmed: function() {
            this.isDeleteConfirmed = !this.isDeleteConfirmed
        },
        toggleUpdateConfirmed: function() {
            this.isUpdateConfirmed = !this.isUpdateConfirmed
        }
    },
}
</script>

<style scoped>
.media {
  word-break: break-all;
}
.tags {
  margin-bottom: 0;
}
.tag {
  margin-bottom: 0;
}
time {
  display: block;
}
</style scoped>
