<template>
<div class="container">
  <div class="columns">
    <div class="column is-three-quarters">
      <div class="field has-addons"
           v-if="!descript.url">
        <div class="control is-expanded has-icons-left">
          <input class="input"
                 type="url"
                 placeholder="URL input"
                 ref="url"
                 v-model="inputUrl"
                 @keyup.enter="postUrl">
          <span class="icon is-small is-left">
            <i class="fas fa-plus"></i>
          </span>
        </div>
        <div class="control">
          <button class="button is-success"
                  :class="{ 'is-loading': isLoading }"
                  @click="postUrl">
            Add
          </button>
        </div>
      </div>
      <article class="media"
               v-if="descript.url">
        <div class="media-content">
          <p class="has-text-weight-semibold">
            <a :href="descript.url">{{ inputTitle }}</a>
          </p>
          <p class="has-text-weight-light">
            <a :href="descript.url"
               class="has-text-weight-light">
              {{ descript.url }}
            </a>
          </p>
          {{ inputDescription }}
          <time class="is-size-7">
            {{ dateFormating(descript.date) }}
          </time>
        </div>
      </article>
      <div v-if="descript.url"
           style="margin-bottom: 1rem;">
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input"
                   type="text"
                   placeholder="Title input"
                   v-model="inputTitle">
          </div>
        </div>
        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea"
                      placeholder="Description input"
                      v-model="inputDescription">
            </textarea>
          </div>
        </div>
        <div class="field">
          <label class="label">Tag</label>
          <div class="control">
            <input class="input"
                   type="text"
                   placeholder="Tag input"
                   v-model="inputTag">
          </div>
        </div>
        <button class="button is-success"
                @click="confirmUrl">
          Bookmark
        </button>
        <button class="button"
                @click="cancelUrl">
          Cancel
        </button>
      </div>
      <div class="message is-danger"
           v-if="warningMessage.length">
        <div class="message-body">{{ warningMessage }}</div>
      </div>
    </div>
    <div class="column has-background-light"
         v-if="descript.url">
      <div class="buttons"
           style="margin-top: 1em;">
        <span class="button is-small is-primary is-rounded"
              v-for="t in tags"
              @click="addTag(t.name)">
          <span class="icon is-small">
            <i class="fas fa-plus-circle"></i>
          </span>
          <span>{{ t.name }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import bookmarkElement from './bookmark-element.vue'

export default {
    components: {
        bookmarkElement
    },
    data: function() {
        return {
            inputUrl: '',
            inputTitle: '',
            inputDescription: '',
            inputTag: '',
            tags: [],
            descript: {},
            warningMessage: '',
            isLoading: false
        }
    },
    methods: {
        dateFormating: function(date) {
            return moment(date).format('YYYY-MM-DD dddd HH:mm:ss')
        },
        postUrl: function() {
            if(this.inputUrl.length) {
                this.warningMessage = ''
                this.isLoading = true
                self = this
                
                axios.post('./api/add', {
                    url: self.inputUrl,
                    userId: self.$store.state.id
                    },{ headers:
                        { 'x-access-token': self.$store.state.token }
                }).then(function(response) {
                    return JSON.parse(response.data)
                }).then(function(json) {
                    self.descript = json
                    self.inputTitle = self.descript.title
                    self.inputDescription = self.descript.description
                    self.isLoading = false
                }).catch(function(e) {
                    self.isLoading = false
                    self.warningMessage = 'Error has occurred'
                })
            }
        },
        confirmUrl: function() {
            self = this
            this.inputTag = this.inputTag.trim().replace(/ +/g, ' ')
            const arrTag = this.inputTag.split(' ')
            
            axios.post('./api/add/confirm', {
                token: self.descript.token,
                title: self.inputTitle,
                description: self.inputDescription,
                tag: self.inputTag
                },{ headers:
                { 'x-access-token': self.$store.state.token }
            }).then(function(response) {
                return response.data
            }).then(function(bookmark) {
                if(arrTag.length) {
                    axios.put('./api/tag/' + bookmark.bookmark_id , {
                        tags: arrTag
                        },{ headers:
                            { 'x-access-token': self.$store.state.token }
                        }
                    ).catch(function(e) {
                        console.log(e)
                    })
                }

                self.$router.push('/list')
            }).catch(function(e) {
                if(e.response.status == 303) {
                    self.warningMessage = 'Already bookmarked'
                } else {
                    self.warningMessage = 'Error has occurred'
                }
                  return
            })
        },
        cancelUrl: function() {
            this.descript = {}
        },
        tagListLoad: function() {
            self = this
            axios.get('./api/tag',
                { headers:
                  { 'x-access-token': localStorage.token }
                }
            ).then(function(response) {
                return JSON.parse(response.data)
            }).then(function(json) {
                self.tags = json
            }).catch(function(e) {
                console.log(e)
            })
        },
        addTag: function(tagName) {
            if (this.inputTag.length) {
                this.inputTag = this.inputTag + " " + tagName
            } else {
                this.inputTag += tagName
            }
        }
    },
    mounted: function() {
        this.$refs.url.focus()
        this.tagListLoad()
    },
}
</script>

<style scoped>
time {
  display: block;
}
</style>
