<template>
<div class="container">
  <div class="columns">
    <div class="column is-three-quarters">
      <div class="tags has-addons"
           v-if="selectedTag">
        <span class="tag is-dark is-medium">
          selected
        </span>
        <span class="tag is-info is-medium">
          {{ selectedTag }}
          <button class="delete is-small"
                  @click="articleLoad"></button>
        </span>
      </div>      
      <bookmark-element v-for="article in articles"
                        :key="article.bookmark_id"
                        :id="article.bookmark_id"
                        :title="article.title"
                        :url="article.url"
                        :description="article.description"
                        :tag="article.tag"
                        :date="dateFormating(article.date)">
      </bookmark-element>
      <div class="message is-danger"
           v-if="warningMessage.length">
        <div class="message-body">{{ warningMessage }}</div>
      </div>
      <div class="field is-grouped is-grouped-right"
           style="margin-top: 0.5em;"
           v-else>
        <p class="control">
          <button class="button"
                  :disabled="!existPrevious"
                  @click="paginatePrevious">
            Previous
          </button>
        </p>
        <p class="control">
          <button class="button"
                  :disabled="!existNext"
                  @click="paginateNext">
            Next page
          </button>
        </p>
      </div>
    </div>
    <div class="column has-background-light">
      <div class="field is-grouped is-grouped-multiline"
           style="margin-top: 1em;">
        <div class="control"
             v-for="t in tags">
          <div class="tags has-addons">
            <span class="tag is-info"
                  @click="searchTag(t.name)">
              {{ t.name }}
              <button class="delete is-small"
                      @click="deleteTag(t.name)">
              </button>              
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import moment from 'moment'
import axios from 'axios'
import bookmarkElement from './bookmark-element.vue'

export default {
    components: {
        bookmarkElement
    },
    data: function() {
        return {
            articles: [],
            warningMessage: '',
            offset: 0,
            limit: 30,
            defaultOffset: 0,
            defaultLimit: 30,
            tags: [],
            selectedTag: ''
        }
    },
    computed: {
        destroyedBookmark: function() {
            return this.$store.state.destroyedBookmark
        },
        searchTagQuery: function() {
            return this.$store.state.searchTagQuery
        },        
        changedTag: function() {
            return this.$store.state.changedTag
        },        
        existPrevious: function() {
            if (this.offset == 0 || this.selectedTag.length) {
                return false
            } else {
                return true
            }
        },
        existNext: function() {
            if (this.articles.length  < this.limit
                || this.selectedTag.length) {
                return false
            } else {
                return true
            }
        }
    },
    methods: {
        dateFormating: function(date) {
            return moment(date).format('YYYY-MM-DD dddd HH:mm:ss')
        },
        articleLoad: function() {
            self = this
            this.selectedTag = ''
            
            axios.get('./api/' + self.offset + '/' + self.limit,
                { headers: 
                    { 'x-access-token': localStorage.token }
                 }
            ).then(function(response) {
                 return JSON.parse(response.data)
            }).then(function(json) {
                 self.articles = json
            }).catch(function(e) {
                 if(e.response.status == 401) {
                 self.warningMessage = 'Unauthorized'
                     } else {
                 self.warningMessage = 'Error has occurred'
                 }
            })
        },
        tagListLoad: function() {
            self = this
            axios.get('./api/tag',
                { headers: 
                    { 'x-access-token': localStorage.token }
                }
            ).then(function(response) {
                 return JSON.parse(response.data)
            }).then(function(json) {
                 self.tags = json
            }).catch(function(e) {
                console.log(e)
            })
        },
        readamountSet: function() {
            const re = /\d+/
            if (re.test(this.$route.params.offset) && 
                re.test(this.$route.params.limit)) {
                this.offset = this.$route.params.offset
                this.limit = this.$route.params.limit
                this.articleLoad()
            } else {
                this.offset = this.defaultOffset
                this.limit = this.defaultLimit
                this.articleLoad()
            }
        },
        paginatePrevious: function() {
            const nextOffset = parseInt(this.offset) - parseInt(this.limit) < 0
                  ? 0
	              : parseInt(this.offset) - parseInt(this.limit)
            this.$router.push('/list/' + nextOffset + '/' + this.limit)
        },
        paginateNext: function() {
            const nextOffset = parseInt(this.offset) + parseInt(this.limit)
            this.$router.push('/list/' + nextOffset + '/' + this.limit)
        },
        deleteTag: function(tagName) {
            self = this
            axios.delete('./api/tag/tag_name', {
                data: {
                    tag: tagName
                },
                headers: { 
                    'x-access-token': localStorage.token
                }
            }).then(function() {
                const key = self.tags.findIndex(
                    ({name}) => name === tagName
                )
                if (key !== -1) {
                    self.tags.splice(key, 1)
                }
            }).catch(function(e) {
                console.log(e)
            })            
        },
        searchTag: function(tagName) {
            self = this
            this.selectedTag = tagName

            axios.get('./api/search', {
                params: {
                    tag: tagName
                },
                headers: { 
                    'x-access-token': localStorage.token
                }
            }).then(function(response) {
                 return JSON.parse(response.data)
            }).then(function(json) {
                 self.articles = json
            }).catch(function(e) {
                console.log(e)
            })
        }
    },
    mounted: function() {
        this.readamountSet()
        this.tagListLoad()
    },
    watch: {
        destroyedBookmark: function () {
            this.tagListLoad()
            const key = this.articles.findIndex(
                ({bookmark_id}) => bookmark_id === this.destroyedBookmark
            )
            if (key !== -1) {
                this.articles.splice(key, 1)
            }
        },
        searchTagQuery: function() {
            this.searchTag(this.searchTagQuery)
        },
        changedTag: function () {
            this.tagListLoad()
        },
        '$route' (to, from) {
            this.readamountSet()
        }
    }
}
</script>

<style scoped>
time {
  display: block;
}
</style>
