<template>
<section class="hero is-fullheight is-info"
 style="background: url('./images/daniela-unsplash2x.jpg')
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="text-shadow: 0 0 3px maroon;">
        IHHC
      </h1>
      <h2 class="subtitle" style="text-shadow: 0 0 2px maroon;">
        Online bookmark excluding social elements
      </h2>
    </div>
  </div>
</section>
</template>

<script>
</script>

<style>
</style>
