<template>
<div>

<navi-bar></navi-bar>

<router-view></router-view>

</div>
</template>

<script>
import naviBar from './navi-bar.vue'

export default {
  components: {
    naviBar
  }
}

</script>

<style scoped>
</style>
