<template>
  <nav class="navbar is-fixed-top">
    <div class="navbar-menu is-hidden-mobile">
      <div class="navbar-start">
        <router-link class="navbar-item" to="/">
          Top
        </router-link>
        <router-link class="navbar-item"
                     to="/list"
                     v-if="hasLogined">
            List
        </router-link>
        <router-link class="navbar-item" to="/add"
         v-if="hasLogined">
          Add
        </router-link>
      </div>
      <div class="navbar-end">
        <div class="navbar-item" v-if="hasLogined">
          Hello, {{ loginedUserName }}
        </div>
        <div class="navbar-item" v-if="!hasLogined">
          <router-link class="button is-primary" to="/signin">
            <span>Log in</span>
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
          </router-link>
        </div>
        <div class="navbar-item" v-if="!hasLogined">
          <router-link class="button is-primary is-outlined" to="/signup">
            <span>Sign up</span>
            <span class="icon">
              <i class="fas fa-user-plus"></i>
            </span>
          </router-link>
        </div>
        <div class="navbar-item" v-if="hasLogined">
          <button class="button is-success is-outlined" @click="signOut">
            <span>Log out</span>
            <span class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
    <div class="navbar-brand is-hidden-tablet">
    <router-link class="navbar-item" to="/">
        Top
      </router-link>
      <router-link class="navbar-item" to="/list"
       v-if="hasLogined">
        List
      </router-link>
      <router-link class="navbar-item" to="/add"
       v-if="hasLogined">
        Add
      </router-link>
      <div class="navbar-item" v-if="!hasLogined">
        <router-link class="button is-primary" to="/signin">
          <span class="icon">
            <i class="fas fa-sign-in-alt"></i>
          </span>
        </router-link>
      </div>
      <div class="navbar-item" v-if="!hasLogined">
        <router-link class="button is-primary is-outlined" to="/signup">
          <span class="icon">
            <i class="fas fa-user-plus"></i>
          </span>
        </router-link>
      </div>
      <div class="navbar-item" v-if="hasLogined">
        <button class="button is-success is-outlined" @click="signOut">
          <span class="icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
import axios from 'axios'

export default {
  computed: {
    hasLogined: function() {
      return this.$store.state.isLogined
    },
    loginedUserName: function() {
      return this.$store.state.name
    }
  },
  methods: {
    signOut: function() {
      this.$store.dispatch('logOut')
      localStorage.clear()
      this.$router.push('/')
    },
  },
  mounted: function () {
    self = this
    axios.get('./api/valid', { headers:
      { 'x-access-token': localStorage.token } 
    }).then(function(response) {
      self.$store.dispatch('reflectStatus')
    }).catch(function(e) {
      localStorage.clear()
      self.$store.dispatch('reflectStatus')
    })
  }
}
</script>

<style>
</style>
