<template>
<div class="container">
<div class="field">
  <label class="label">User ID</label>
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="User ID" ref="userid"
     v-model="inputId" :class="{ 'is-danger': isAuthDanger }">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </p>
</div>
<div class="field">
  <label class="label">Password</label>
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password"
     v-model="inputPassword" @keyup.enter="signIn"
     :class="{ 'is-danger': isAuthDanger }">
    <span class="icon is-small is-left">
      <i class="fas fa-sign-in-alt"></i>
    </span>
  </p>
</div>
<div class="message is-danger"
 v-if="warningMessage.length">
  <div class="message-body">{{ warningMessage }}</div>
</div>
<button class="button is-success" @click="signIn">Log in</button>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data:function() {
    return {
      inputId: '',
      inputPassword: '',
      warningMessage: '',
      isAuthDanger: false
    }
  },
  methods: {
    signIn: function() {
      if(this.inputId.length == 0) {
        self.isAuthDanger = true
        return
      }

      self = this
      axios.post('./api/account/signin', {
        name: this.inputId,
        password: this.inputPassword
      }).then(function(response) {
        localStorage.token = response.data.token
        localStorage.name = response.data.name
        localStorage.id = response.data.id
        self.$store.dispatch('logIn')
        self.$router.push('/list')
      }).catch(function(e) {
        self.warningMessage = 'Authentication failed'
        self.isAuthDanger = true
        return
      })
    }
  },
  mounted: function() {
    this.$refs.userid.focus()
  },
  
}
</script>

<style>
</style>
