<template>
<div class="container">
<div class="field">
  <label class="label">User ID</label>
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="User ID"
     v-model="inputId"
     :class="{ 'is-danger': isIdDanger }">
    <span class="icon is-small is-left">
      <i class="fas fa-user-plus"></i>
    </span>
  </p>
</div>
<div class="field">
  <label class="label">Password</label>
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password"
     v-model="inputPassword"
     :class="{ 'is-danger': isPasswordDanger }">
    <span class="icon is-small is-left">
      <i class="far fa-hand-point-up"></i>
    </span>
  </p>
</div>
<div class="field">
  <label class="label">Password confirm</label>
  <p class="control has-icons-left">
    <input class="input" type="password" placeholder="Password confirm"
     v-model="inputPasswordConfirm" @keyup.enter="signUp"
     :class="{ 'is-danger': isPasswordDanger }">
    <span class="icon is-small is-left">
      <i class="far fa-hand-peace"></i>
    </span>
  </p>
</div>
<div class="message is-danger"
 v-if="warningMessage.length">
  <div class="message-body">{{ warningMessage }}</div>
</div>
<div class="message is-success"
 v-if="successMessage.length">
  <div class="message-body">{{ successMessage }}</div>
</div>

<button class="button is-success" @click="signUp">Sign up</button>

</div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  data: function() {
    return {
      inputId: '',
      inputPassword: '',
      inputPasswordConfirm: '',
      warningMessage: '',
      successMessage: '',
      isIdDanger: false,
      isPasswordDanger: false
    }
  },
  methods: {
    stateInitialize: function() {
      this.warningMessage = ''
      this.successMessage = ''
      this.isIdDanger = false
      this.isPasswordDanger = false
    },
    signUp: function() {
      this.stateInitialize()

      if(!this.inputId) {
        this.isIdDanger = true
        this.warningMessage = 'User ID is not entered'
        return
      }
      if(this.inputPassword != this.inputPasswordConfirm) {
        this.isPasswordDanger = true
        this.warningMessage = 'Password can not be confirmed'
        return
      }
      if(this.inputPassword.length == 0) {
        this.isPasswordDanger = true
        this.warningMessage = 'Password is not entered'
        return
      }

      self = this
      axios.post('./api/account/signup', {
        name: this.inputId,
        password: this.inputPassword
      }).then(function() {
        self.successMessage = 'Success'
        return
      }).catch(function(e) {
        if(e.response.status == 409) {
          self.warningMessage = 'ID is already in use'
        } else {
          self.warningMessage = 'Error has occurred'
        }
        self.isIdDanger = true
        self.isPasswordDanger = true
        return
      })
    }
  }
}
</script>

<style>
</style>
